# Firebase
apiKey=
authDomain=
projectId=
storageBucket=
messagingSenderId=
appId=

# Server
PORT=3000
FRONTEND_ORIGIN=http://localhost:5173

# LiveKit
LIVEKIT_URL=wss://your-project.livekit.cloud
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
