// firestore.rules

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas para la colección de usuarios
    match /users/{userId} {
      // Cualquier usuario autenticado puede leer perfiles (necesario para ver avatares en salas y validación de username)
      allow read: if request.auth != null;
      
      // Solo el propietario de la cuenta puede crear, editar o eliminar su propio perfil.
      // Previene suplantación comparando el UID del token con el ID del documento.
      allow write, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Reglas para salas (Preparación para futuros sprints)
    match /rooms/{roomId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.ownerId;
    }
  }
}